TZ=Pacific/Auckland
NZVA_PAYMENT_PAYER_NAME=
NZVA_PAYMENT_CARDHOLDER_NAME=
NZVA_PAYMENT_CARD_NUMBER=
NZVA_PAYMENT_EXPIRY_MONTH=
NZVA_PAYMENT_EXPIRY_YEAR=
NZVA_PAYMENT_SECURITY_CODE=
NZVA_PAYMENT_EMAIL=
NZVA_PAYMENT_POSTAL_CODE=
